<% provide(:title, "Display") %>

<h1>WBR Inventory</h1>
<p>
  This is the Display parts page for the Inventory of
  Win Brisbin Rebuilder
</p>
<%= link_to "Create new customer!", signup_path, class: "btn btn-large btn-primary" %>