<% provide(:title, "Home") %>
<div class"center hero-unit">

	<hi>WBR Inventory</h1>
	<p>
	  This is the Home Page for Win Brisbin Rebuilders.
	</p>

	<%= link_to "Create new customer!", signup_path, class: "btn btn-large btn-primary" %>
</div>