<footer class="footer">
  <small>
    <a href="http://kwikfinder.net">Lester Lookup</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Lookup",   '#' %></li>
      <li><%= link_to "Display",  '#' %></li>
      <li><%= link_to "Edit",     '#' %></li>
    </ul>
  </nav>
</footer>