<footer class="footer">
  <small>
    <a href="http://kwikfinder.net">Lester Lookup</a>
  </small>
  <nav>
    <ul>
       <li><%= link_to "Display",   display_path %></li>
       <li><%= link_to "Lookup",    lookup_path %></li>
       <li><%= link_to "Edit",      edit_path %></li>
    </ul>
  </nav>
</footer>