<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Win Brisbin Rebuilders", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Display",   '#' %></li>
          <li><%= link_to "Lookup",    '#' %></li>
          <li><%= link_to "Edit",      '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>